.setting-form {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFFFFF;
}

.setting-form__heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-top: 5px;
}

.setting-form__inner {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.setting-form__form {
    text-align: center;
    margin: 0 auto;
}

.image-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #D9D9D9;
}

.upload-button {
    width: 179px;
    height: 49px;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.setting-form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setting-form__label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-top: 40px;
}

.setting-form__input {
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    font-size: 24px;
}

.setting-form__btn {
    width: 680px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF5555;
    margin-bottom: 30px;
    margin-top: 70px;
    cursor: pointer;
}

.error {
    height: 5px;
    color: #ff0000;
    text-align: left;
}
